.banner {
    background: url("https://image.freepik.com/free-photo/cactus-cucumber-pot-yellow-background-space-text_185193-11567.jpg") center center;
    height: 85vh;
    position: relative;
  }
  .banner-btn{
    margin: 0;
    position: absolute;
    top: 84%;
    margin-left: 47%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 600;
    background-color: white;
    border-radius: 4px;
  }
  .banner-btn > button:hover {
    background-color: white;
    color: #ff7779;
  }