.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    padding: 20px;
  }

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8vw;
  margin-right: 80px;
}
.header__center{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    padding: 10px;
  }