.home__img{
    height: 48vh;
    padding: 5%;
}
.home__banner{
    padding: 10%;
}
.home__btn{
    margin: 0;
    position: absolute;
    top: 193%;
    margin-left: 37%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 600;
    background-color: #ff7779;
}
.home__btn > button:hover {
    color: #fff;
  }